---
---

<section class="p-10 md:w-full">
    <h2 class="text-3xl md:text-5xl font-medium my-5 text-center dark:text-white md:mt-40">Sobre mí</h2>
    <div class="flex flex-col items-center text-center">
        <p class="dark:text-white text-center opacity-90 md:w-[700px] m-3">
            Vivo en la ciudad deBahia Blanca, Bs As. Argentina.Realicé un bootcamp denominado <a href="https://digitalers.educacionit.com/ayuda/digitalers" target="_blank" class="bg-indigo-100 text-indigo-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Digitalers,</a> que es una iniciativa de Telecom, donde aprendi sobre JavaScript, React, Node y Express Js. Actualmente me encuentro finalizando mis estudios en la Universidad Provincial del Sudoeste, específicamente una <a href="https://www.upso.edu.ar/tecnicatura-universitaria-en-tecnologias-de-programacion/" target="_blank" class="bg-pink-100 text-pink-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-pink-900 dark:text-pink-300">Tecnicatura en Lenguajes de Programación</a>donde aprendí sobre el lenguaje <span class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Python</span>orientado a los datos. Como proyecto final de la carrera realice un Dashboard con un API realizada en Flask y consumida en el frontend con Astro y React.
        </p>
        <img src="/images/UPSO.webp" class="w-30 h-40" alt="">
    </div>
</section>
