---
---

<section class="p-20 my-4 text-center md:w-full md:mt-0">
    <h2 class="text-5xl font-bold my-5 text-white">About Us</h2>
    <p class="text-white">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam obcaecati
        ab beatae, qui perspiciatis nobis, illum quidem voluptatem vitae,
        asperiores id repellendus nesciunt accusantium voluptatum veniam!
        Impedit quasi aspernatur rerum.
    </p>
</section>
