---
import Gmail from "../icons/Gmail.astro";
import Github from "../icons/Github.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import LogoAstro from "../icons/LogoAstro.astro";
---

<footer class="">
    <div
        class="flex justify-center items-center md:flex-row w-full p-8 md:flex md:items-center"
    >
        <span
            class="text-center mr-2 sm:text-center dark:text-white"
            >Hecho con 
        </span>
        <a target="_blank" href="https://astro.build/"
                ><LogoAstro class="size-5" /></a
            >
    </div>
</footer>
