---
import LogoAstro from "../icons/LogoAstro.astro";
---

<footer class="">
    <div
        class="flex justify-center items-center md:flex-row w-full p-8 md:flex md:items-center"
    >
        <span
            class="text-center mr-2 sm:text-center dark:text-white"
            >Hecho con 
        </span>
        <a target="_blank" href="https://astro.build/" aria-label="Se envia al sitio oficial de Astro"
                ><LogoAstro class="size-5" /></a
            >
    </div>
</footer>
