<section class="flex flex-col py-10 md:flew-row md:p-20 gap-y-10">
    <h2 class="md:text-5xl text-center font-medium">Tecnologias</h2>
    <div class="grid grid-cols-2 gap-16 m-auto md:grid-cols-4 md:grid-rows-3">
        <div class="w-20 h-30">
            <div class="w-20 h-20">
                <img src="/images/react.svg" alt="" />
            </div>
            <p class="text-center">React</p>
        </div>
        <div class="w-20 h-30">
            <div class="w-20 h-20">
                <img src="/images/node.svg" alt="" />
            </div>
            <p class="text-center">Node Js</p>
        </div>
        <div class="w-20 h-30">
            <div class="w-20 h-20">
                <img src="/images/tailwind.svg" alt="" />
            </div>
            <p class="text-center">Tailwind css</p>
        </div>
        <div class="w-20 h-30">
            <div class="w-20 h-20">
                <img src="/images/astro.svg" alt="" />
            </div>
            <p class="text-center">Astro</p>
        </div>
        <div class="w-20 h-30">
            <div class="w-20 h-20">
                <img src="/images/sql.svg" alt="" />
            </div>
            <p class="text-center">MySql</p>
        </div>
        <div class="w-20 h-30">
            <div class="w-20 h-20">
                <img src="/images/mongo.svg" alt="" />
            </div>
            <p class="text-center">Mongo DB</p>
        </div>
        <div class="w-20 h-30">
            <div class="w-20 h-20">
                <img src="/images/react.svg" alt="" />
            </div>
            <p class="text-center">React</p>
        </div>
        <div class="w-20 h-30">
            <div class="w-20 h-20">
                <img src="/images/react.svg" alt="" />
            </div>
            <p class="text-center">React</p>
        </div>
    </div>
</section>
