---
import proyects from '../../config/proyects.json'
---

<section class="">
    <h2 class="font-bold text-5xl my-8 text-center dark:text-white">Proyectos</h2>
    {
        proyects.map(proyect => (
            <div class="flex flex-col mb-2 text-center md:text-left md:flex-row">
                <div class="flex-1 p-4">
                    <h2 class="font-bold text-2xl my-4 text-white">{proyect.title}</h2>
                    <p class="my-2 text-white">{proyect.description}</p>
                    <button class="bg-indigo-500 rounded-lg px-3 py-2 hover:bg-indigo-400  text-white">
                        Más información   
                    </button>
                </div>
                <div class="flex-1">
                    <img src={proyect.image} alt="imagen alternativa" class="w-72 m-auto">
                </div>
            </div>
        ))
    }
</section>


