---
import React from '../icons/React.astro'
import Node from '../icons/Node.astro'
import Tailwind from '../icons/Tailwind.astro'
import LogoAstro from '../icons/LogoAstro.astro'
import MySql from '../icons/MySql.astro'
import Mongo from '../icons/Mongo.astro'
import Firebase from '../icons/Firebase.astro'
import PostgreSQLIcon from '../icons/PostgreSQLIcon.astro'
import GitIcon from '../icons/GitIcon.astro'
import Express from '../icons/Express.astro'
---

<section class="flex flex-col py-10 md:mt-28 md:flew-row md:p-20 gap-y-10 ">
    <h2 class="md:text-5xl text-3xl text-center font-medium">Tecnologias</h2>
    <div class="grid grid-cols-3 gap-8 md:gap-16 m-auto md:grid-cols-4 md:grid-rows-3">
        <div class="w-20 h-30">
            <React class="size-20"/>
            <p class="text-center">React</p>
        </div>
        <div class="w-20 h-30">
            <Node class="size-20" />
            <p class="text-center mt-3">Node Js</p>
        </div>
        <div class="w-20 h-30">
            <Tailwind class="size-20" />
            <p class="text-center mt-3">Tailwind css</p>
        </div>
        <div class="w-20 h-30">
            <LogoAstro class="size-20" />
            <p class="text-center mt-3">Astro</p>
        </div>
        <div class="w-20 h-30">
            <MySql class="size-20" />
            <p class="text-center mt-3">MySql</p>
        </div>
        <div class="w-20 h-30">
            <Mongo class="size-20" />
            <p class="text-center mt-3">Mongo DB</p>
        </div>
        <div class="w-20 h-30">
            <Firebase class="size-20" />
            <p class="text-center mt-3">Firebase</p>
        </div>
        <div class="w-20 h-30">
            <PostgreSQLIcon class="size-20" />
            <p class="text-center mt-3">PostgreSQL</p>
        </div>
        <div class="w-20 h-30">
            <GitIcon class="size-20" />
            <p class="text-center mt-3">Git</p>
        </div>
        <div class="w-20 h-30">
            <Express class="size-20" />
            <p class="text-center mt-3">Express Js</p>
        </div>
    </div>
</section>
