---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum facilis tenetur quaerat voluptas voluptatibus optio libero consequatur consectetur esse fuga doloribus dolore, iure ipsam iste a ratione placeat ex omnis!</p>
</Layout>